__pycache__/
*.py[cod]
*$py.class
*.egg-info
.pytest_cache
.ipynb_checkpoints

thumbs.db
.DS_Store
.idea

data/
dump2/
exp2/
resources/
images/
tensors/
test_wavs/
hf_model/
hf_space/

nohup.out
*.log
errorfile*
results*
huggingface*

whisper_pinyin_sys_logs/
whisper_pinyin_github
whisper_pinyin_cr

git_push.sh